<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>


<table>
  <tr>
    <th>ID</th>
    <th>Description</th>
    <th>Category</th>
    <th>Is Ready?</th>
    <th>Is Archived?</th>

  </tr>
  <tr th:each="transaction: ${transactions}">
    <td th:text="${transaction.getId()}"></td>
    <td th:text="${transaction.getTType()}"></td>
    <td th:text="${transaction.getDescription()}"></td>
    <td th:text="${transaction.getAmount()}"></td>
    <td th:text="${transaction.getDate()}"></td>


  </tr>





</body>
</html>