<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css" th:href="@{/style.css}"/>
</head>
<body>


<form method="post"  th:action="@{'/Update/' + ${task.getId()}}">
  <label> Description
    <input type="text" name="description" th:value="${task.getDescription()}"> </input>
  </label>

  <label> Category
    <select name="category">
      <option value="WORK" th:selected="${task.getCategory()}">WORK</option>
      <option value="HOUSEHOLD" th:selected="${task.getCategory()}">HOUSEHOLD</option>
      <option value="PRIVATE" th:selected="${task.getCategory()}">PRIVATE</option>
    </select>
  </label>
  <label> Is Ready?
    <input type="checkbox" name="isReady" value="isReady" th:checked="${task.isReady()}"/>
  </label>
  <label>Is Archive?
    <input type="checkbox" name="isArchive" value="isArchive" th:checked="${task.isArchived()}"/>
  </label>
  <button type="submit">Save</button>
</form>

<a href="/">Powrót</a>

</body>
</html>